<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Главная</title>
  </head>
  <body>
    <div class="formreg">
      <input type="text" name="fname" placeholder="Имя" />
      <input type="text" name="login" placeholder="Логин" />

      <canvas class="f"></canvas>

      <button class="clear">Стереть подпись</button>
      <div class="log">
        <button type="submit" class="regis">Регистрация</button>
        <button type="submit" class="auth">Авторизация</button>
      </div>
    </div>

    <script src="/script.js" type="module"></script>
    <script src="/reg.js" type="module"></script>
    <script src="/auth.js" type="module"></script>
  </body>
</html>
