body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(217, 203, 233);
}

@media screen and (max-width: 945px) {
  .formreg {
    width: 40%;
  }
}
@media screen and (max-width: 756px) {
  .formreg {
    width: 50%;
  }
}
