body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(136, 100, 179);
}
/* canvas {
  display: block;
  border: 2px solid rgb(52, 75, 59);
  margin: 30px auto 20px auto;
} */
/* .formreg {
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: 40px auto 20px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(128, 128, 128);
  border-radius: 5px;
} */
@media screen and (max-width: 945px) {
  .formreg {
    width: 40%;
  }
}
@media screen and (max-width: 756px) {
  .formreg {
    width: 50%;
  }
}
/* input {
  display: block;
  margin: auto;
  margin-bottom: 15px;
} */
/* button {
  display: block;
  margin: 15px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(136, 100, 179);
  border-color: transparent;
  box-shadow: 2px 2px 5px rgb(128, 128, 128);

  color: white;
} */
/* .log {
  display: flex;
  margin: 0 auto 0 auto;
  width: 70%;
  justify-content: space-between;
} */
