canvas {
  display: block;
  border: 2px solid rgb(52, 75, 59);
  margin: 30px auto 20px auto;
  margin-top: 0;
}
/* .f {
  display: block;
  border: 2px solid rgb(52, 75, 59);
  margin: 30px auto 20px auto;
} */
