.formreg {
  background-color: rgb(255, 255, 255);
  min-width: 300px;
  width: 30%;
  margin: 40px auto 20px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(128, 128, 128);
  border-radius: 5px;
}

input {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
button {
  display: block;
  margin: 15px auto;

  padding: 5px 5px;
  border-radius: 7px;
  cursor: pointer !important;

  background: rgb(155, 139, 175);
  border-color: transparent;
  box-shadow: 1px 1px 3px rgb(128, 128, 128);

  color: white;
}
.log {
  display: flex;
  margin: 0 auto 0 auto;
  width: 70%;
  justify-content: space-between;
}
.clear {
  position: relative;
  left: 110px;
  cursor: pointer !important;
}
.profile img {
  width: 70px;
  height: 70px;
  cursor: auto !important;
  margin-right: 30px;
  text-align: center;
}
.profile {
  margin-left: 40px;
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.wrap_profile {
  width: 45%;
  margin: 30px auto;
  background-color: aliceblue;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgb(189, 189, 189);
}

.profile_btn {
  display: flex;
  justify-content: flex-end;
}
.profile_btn button {
  margin: 0;
  margin-right: 25px;
}
